.main{
    min-width: 320px;
    max-width: 640px;
    background-color: #f5f5f5;
    margin: 0 auto;
}
.header{
    background: url('../image/new-index_01.jpg') center top no-repeat;
    display: -webkit-flex; 
    display: flex;
    flex-direction:column;
    height: 268px;
    justify-content: space-around;
}
.search{
    background: url(../image/search.png) left center no-repeat;
    background-size: auto 55%;
    height: 39px;
    background-color: #fff;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    display: flex;
}

.search .text{
    margin-left: 33px;
    margin-top: auto;
    margin-bottom: auto;
}
.category {
    display: -webkit-flex; 
    display: flex;
    justify-content: space-around;
}
.category .item{
    display: grid;
}

.m_center{
    margin-right: auto;
    margin-left: auto;
}
.my_rx{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color:#2394da;
    border-bottom: 1px solid #999999;
}
.my_rx_icon{
    background: url(../image/new-index_08.png) center center no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-size: auto 100%;
}
.add_rx_icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px dashed #2394da;
    font-style: inherit;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.interlay{
    border-bottom: 1px solid #999999;
    padding: 10px;
}
.brand .b_name,.s_g .s_name{
    font-weight:400;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.b_name .point,.s_name .point{
    height: 15px;
    width: 15px;
    border-bottom: 4px solid #999;
    border-left: 4px solid #999;
    transform: rotate(-135deg);
}
.list_pic img{
    width: 32%;
}
.alarm{
    background: url(../image/wx2.0_index_18.png) center center no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-size: auto 100%;
}
.alarm_num{
    background-color: #999;
}
.s_g .list_pic img:nth-child(2){
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
