 *{margin: 0;padding: 0;}
.headView{padding: 20px 10px; background: url(../images/headBg.jpg);}
.headLogoImageView{width: 222px;height: 79px; position:absolute;top:20px;left: 50%;margin-left: -111px}
.searchBar{width: 580px;height: 40px;position:absolute;top: 50%;left: 30px; margin-top: -10px; background:transparent;font-size: 14px;border:none;background-color: #FFFFFF }
.headListView{width: 640px;height: 60px;position: absolute;top: 200px}
.headListViewDetail{display: inline;float: left;width: 25%; text-shadow:2px 2px 0px black;height: 60px;text-align: center;}
.headListViewDetail span{ font-size: 14px;color: #FFFFFF; }
.headListViewDetail img {float:top ; width: 45px;height: 45px;margin-left: 45px;}
.myChufangView {padding-left: 10px;padding-right: 10px;overflow: hidden;}
.myChufangView a {width: 50% ;padding-top: 10px;padding-bottom: 10px;display: block;float: left;font-size: 16px;color: #2394da;}
.myChufangView a i.chufangImageLeft {width: 20px;height: 20px;display: inline-block;vertical-align: bottom;background: url(../images/chufangLeftIcon.png);}
.myChufangView a i.chufangImageRight {width: 20px;height: 20px;position: relative;display: inline-block;border: 1px dashed #2394da;vertical-align: bottom;}
.ChufangLeft {float: left;}
.ChufangRight {float: right;}