@charset "utf-8";
html {
  color: #333;
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  width:100%;
  height: 100%;
}
html * {
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  font-family:Helvetica;
  width:100%;
  height: 100%;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
}
input,
select,
/*textarea {
  font-size: 100%;
}*/
/* 去掉各 Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 去除默认边框 */
fieldset,
img {
  border: 0;
  max-width: 100%;
}
/* 去掉 firefox 下此元素的边框 */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
/* 去掉列表前的标识, li 会继承 */
ol,
ul {
  list-style: none;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,
th {
  text-align: left;
}
/* 来自 yahoo, 让标题都自定义, 适应多个系统应用 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before,
q:after {
  content: '';
}
/* 统一上标和下标 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* 正常链接 未访问 */
/* 鼠标悬停 */
a:hover {
  text-decoration: underline;
}
/* 默认不显示下划线，保持页面简洁 */
ins,
a,a:link,a:visited,a:hover,a:active{
  text-decoration: none;
}
/*iUi 与页面 preloader*/
body>section, body>footer {display:none;}

body>section[selected="true"] {
	display: block;
  width:100%;
  height: 100%;
}

body >.preloader{
	position:absolute;
	width:60px;
	z-index:9000;
	display: none;
}

img{
    display: block;
    width: 100%;
}
button:focus,input:focus,textarea:focus,a:focus{
    border: none;
    outline: none;
}
*{   
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/   
    -webkit-user-select:none; /*webkit浏览器*/   
    -khtml-user-select:none; /*早期浏览器*/   
    -moz-user-select:none;/*火狐*/   
    -ms-user-select:none; /*IE10*/   
    user-select:none;   
}
input,textarea{
  -webkit-user-select:auto; /*webkit浏览器*/
}

/*去除苹果input默认样式*/
input{
    -webkit-appearance:none;
}



.c-loading {text-align: center;width:40px;height: 40px;position:absolute;top:50%;left:50%;margin:-20px 0 0 -20px;/*background: url(../i/bee2.png) no-repeat 45px center;background-size: 100%;*/}
.c-loading span {display: inline-block;width: 40px;height: 40px;background:url(../image/pull-icon@2x.png) 0 -40px no-repeat;-webkit-background-size:40px 80px; background-size:40px 80px;}
/*旋转动画*/
.rotate{-webkit-animation:loading-anim 1500ms linear infinite!important;}
@-webkit-keyframes loading-anim{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);-webkit-transform-origin:20px 20px;}}

/*两端对齐，比较奇特的是字间必须有空格*/
.justify{
    overflow:hidden;
    text-align:justify;
    text-align-last:justify;
    -webkit-text-align-last:justify;
}
.justify:after{
    display:inline-block;
    content:' ';
    overflow:hidden;
    width:100%;
    height:0;
}

.clearfix::before,.clearfix::after{display:table;line-height:0;content:"";}
.clearfix::after{clear:both;}
.display-block{display: block;}

.disbox{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: flex;}
.disflex{display:-moz-box;display:-webkit-box;display:-ms-box;display: box;}
.boxflex{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-webkit-flex:1;-moz-flex:1;-ms-flex:1;flex:1;}
.ellipsis{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.hide{display: none;}

.timetips{position:fixed;left:50%;top:50%;transform:translateY(-50%);z-index:10;margin:0 20px;text-align:center;background-color:rgba(0,0,0,0.5);color:#fff;padding:8px 15px;/*min-width:110px;*/}

/* layer弹层移动版样式 */
/* layer弹层移动版样式 */
.layermbox{position:absolute; left:0; top:0; width:100%; z-index:19891014;}
.laymshade,
.layermmain{position:fixed; left:0; top:0; width:100%; height:100%;}
.laymshade{background-color:rgba(0,0,0, .5); pointer-events:auto;}
.layermmain{display:table; font-family: Helvetica, arial, sans-serif; pointer-events: none;}
.layermmain .section{display:table-cell; vertical-align:middle; text-align:center;}
.layermchild{position:relative; display:inline-block;  text-align:left; background-color:#fff; font-size:14px; border-radius:6px; box-shadow:0 0 8px rgba(0, 0, 0, 0.1);  pointer-events:auto;}
.layermchild{-webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-duration: .18s; animation-duration: .18s;}
.layermborder{border:1px solid #999;}
@-webkit-keyframes bounceIn { /* 默认 */
  0% {
    opacity: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
.layermanim{animation-name: bounceIn; -webkit-animation-name: bounceIn;}

.layermbox0 .layermchild{max-width:260px; min-width:150px;}
.layermbox1 .layermchild{border:none; border-radius:0;}
.layermbox2 .layermchild{width:auto; max-width:260px; min-width:40px; border:none; background-color:rgba(0,0,0,.6); color:#fff;}
.layermchild h3{padding:0 45px 0 10px; height:50px; line-height:50px; border-bottom:1px solid #EBEBEB; font-size:16px; font-weight:400;  border-radius:5px 5px 0 0; border-bottom:1px solid #EBEBEB;}
.layermchild h3,
.layermbtn span{ text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.layermcont{padding:20px 15px; line-height:22px; border-radius:5px;}
.layermbox1 .layermcont{padding:0;}
.layermbox2 .layermcont{text-align:center; padding:30px 30px 0; line-height: 0;}
.layermbox2 .layermcont i{width:1.5rem; height:1.5rem; margin-left:8px; display:inline-block; background-color:#fff; border-radius:100%;}
.layermbox2 .layermcont i{-webkit-animation: bouncedelay 1.4s infinite ease-in-out; animation: bouncedelay 1.4s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
@-webkit-keyframes bouncedelay{
    0%,80%,100%{-webkit-transform:scale(0)}
    40%{-webkit-transform:scale(1)}
}
@keyframes bouncedelay{
    0%,80%,100%{transform:scale(0);-webkit-transform:scale(0)}
    40%{transform:scale(1);-webkit-transform:scale(1)}
}
.layermbox2 .layermcont i:first-child{margin-left:0; -webkit-animation-delay: -.32s; animation-delay: -.32s;}
.layermbox2 .layermcont i.laymloadtwo{-webkit-animation-delay: -.16s; animation-delay: -.16s;}
.layermbox2 .layermcont>div{line-height:22px; padding-top:7px; margin-bottom:20px; font-size: 14px;}
.layermbtn{position:relative; height:40px; line-height:40px; font-size:0; text-align:center;  border-top:1px solid #EBEBEB;}
.layermbtn span{position:relative; display:inline-block; width:50%; text-align:center; font-size:14px; cursor:pointer; border-radius: 0 5px 0 0;}
.layermbtn span:first-child{height:39px; background-color:#fff; border-radius: 0 0 0 5px;}
.layermbtn:before{content:'\20'; position:absolute; width:1px; height:39px; left:50%; top:0; background-color:#EBEBEB;}
.layermend{position:absolute; right:7px; top:10px; width:30px; height:30px; border: 0; font-weight:400; background: transparent; cursor: pointer; -webkit-appearance: none; font-size:30px;}
.layermend::before, .layermend::after{position:absolute; left:5px; top:13px; content:''; width:20px; height:2px; background-color:rgba(0,0,0,.3); transform:rotate(45deg); -webkit-transform:rotate(45deg); border-radius: 3px;}
.layermend::after{transform:rotate(-45deg);  -webkit-transform:rotate(-45deg);}

/*无数据页面*/
.no_data{ 
  width:100%;
  height:100%;
}
.no_data img{
  display: block;
  margin:30% auto 0;
  width:10rem;
  height:12rem;
}
.no_data p{
  margin-top:1.6rem;
  color:#333;
  font-size:1.5rem;
  text-align:center;
}
.dropload-down{
  text-align: center;
  margin-top:.5rem;
}
.fl{
  float: left;
}
.fr{
  float: right;
}